.box-confirmacao {
  width: 530px;
  background-color: #ece8e8;
  border-radius: 77px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.bem-vindo {
  font-weight: 700;
  color: #008037;
  font-size: 34px;
  line-height: normal;
  border-bottom: 4px solid #7fbc54;
}

.mensagem-confirmacao {
  color: #008037;
  font-size: 29px;
  font-weight: 500;
  line-height: normal;
}
