
footer .footerContainer{
  background-color: #008037;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.imgLogo{
  max-width: 100%;
}
.emailSite p, strong{
  color: white;
  margin-top: 20px;
}
.redeSociaisIcon h3{
  color: white;
  text-align: center;
  margin-top: 20px;
}
.redeSociaisIcon .insta, .linkd, .youtube, .megafone{
  padding-top: 3px;
  margin: 5px;
  width: 40px;
  height: 40px;
}

.rodape {
  background-color: #7fbc54;
  text-align: center;
}
.rodape p{
  color: #fdfdfd;
}
@media screen and (max-width: 800px){
.footerContainer{
  flex-wrap: wrap;
  flex-direction: column;
  
}
}


